@import "tailwindcss";

@theme {
  /* colors */
  --color-active: #ff6666;
  /* 
  --color-coral-red: #ff6666;
  --color-mint-green: #66ff99;
  --color-bubblegum-pink: #ff99cc;
  --color-sky-blue: #6699ff;
  --color-sienna-brown: #a0522d;
  --color-sunflower-yellow: #fad02e;
  --color-crimson-red: #c02942;
  --color-lavender-purple: #cc66ff; */

  /*  animations */
  --animate-spin: spin 2s linear infinite;
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  --animate-name: name 5s linear 1;
  @keyframes name {
    0%,
    10% {
      width: 0;
    }
    70%,
    90% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }

  --animate-border: border 5s linear 1 forwards;
  @keyframes border {
    0%,
    90% {
      border-right-color: white; /* Show border during animation */
    }
    100% {
      border-right-color: transparent; /* Hide border at the end */
    }
  }
}

.color-change:hover .color-grid {
  display: grid;
}

.nav-shadow {
  box-shadow: 3px 3px 25px var(--color-active);
}

.intro-name {
  filter: drop-shadow(0 0 15px var(--color-active))
    drop-shadow(0 0 40px var(--color-active));
}

.input-shadow {
  box-shadow: 3px 3px 9px var(--color-active);
}

.portfolio {
  inset: 0;
  top: 100%;
  height: 0;
  transition: all 0.5s ease-in-out;
}

.project:hover .portfolio {
  height: 100%;
  top: 0;
}

/* body {
  background-image: url("/bg.jpg");
} */
